$primary-color: #00c6ff;
$secondary-color: #09dca8;
$font-color: black;
$lcd-width: 1199px;
$slcd-width: 991px;
$tab-width: 768px;
$smob-width: 575px;

body{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
    .register-form{
        background: #fff;
        margin: 50px 0;
        .register-image{
            text-align: center;
            img{
                border: 3px solid black;
                border-radius: 6rem;
                width: 100px;
                transform: translateY(-50%);
            }
        }
        form{
            padding: 0 50px;
            h3{
                margin-bottom: 20px;
                text-align: center;
                color: #0062cc;
            }
            h4{
                margin: 40px 0;
                padding-left: 0;
            }
            .inpLabel{
                margin-left: 12px;
                transform: translateY(162%) translateX(5%) scale(1.2);
                transition: transform 150ms ease-out,margin 150ms ease-out;
                & + input{
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    border-radius: 0px;
                    box-shadow: none;
                    padding-left: 0;
                }
            }
            .focused {
                margin-left: 0;
                transform: translateY(60%) translateX(0) scale(1);
            }
            .row{
                margin-bottom: 10px;
            }
            .btnRegister {
                width: 50%;
                border: none;
                border-radius: 2rem;
                padding: 1.5%;
                background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
                font-weight: 600;
                color: #fff;
                cursor: pointer;
                margin: 30px auto;
            }
        }
    }
}
