$primary-color: #00c6ff;
$secondary-color: #09dca8;
$font-color: black;
$lcd-width: 1199px;
$slcd-width: 991px;
$tab-width: 768px;
$smob-width: 575px;

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    section{
        min-height: 100vh;
    }
    #hamburger{
        align-self: flex-start;
        position: fixed;
        z-index: 99;
        outline: none;
    }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: $primary-color;
    }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
        // background-color: #0072ff;
        background-color: $primary-color;
    }
    #menu{
        list-style: none;
        position: fixed;
        top: 0;
        left: 0;
        // background: #00c6ff;
        // background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
        // background: linear-gradient(to right, #00c6ff, #0072ff);
        background: #fff;
        height: 100vh;
        width: 0px;
        padding-top: 40px;
        padding-left: 70px;
        z-index: 50;
        overflow: hidden;
        transition: 1s;
        box-sizing: border-box;
        transform: translateX(-100px);

        li{
            margin: 12px 0;
            font-size: 2.5em;
            font-weight: bold;

            .opacity{
                opacity: 1 !important;
            }

            a{
                text-decoration: none;
                background: $primary-color;
                background: -webkit-linear-gradient(left, $primary-color, $secondary-color);
                background: -o-linear-gradient(left, $primary-color, $secondary-color);
                background: linear-gradient(to right, $primary-color, $secondary-color);
                -webkit-background-clip: text;
                -webkit-text-fill-color:transparent;
                color: white;
                opacity: 0;
                transition: 0.5s;
                transition-delay: 0.8;

                &:before{
                    // background: #002959;
                    background: $primary-color;
                    background: -webkit-linear-gradient(left, $primary-color, $secondary-color);
                    background: -o-linear-gradient(left, $primary-color, $secondary-color);
                    background: linear-gradient(to right, $primary-color, $secondary-color);
                }
            }
        }
        .socialTray{
            position: absolute;
            bottom: 40px;
            .socialButtons{
                .opacity{
                    opacity: 1 !important;
                }
                a{
                    color: $primary-color;
                    opacity: 0;
                    transition: 0.5s;
                    transition-delay: 0.8;
                    &:hover{
                        color: #0057ff
                    }
                }

                left: 0;
                letter-spacing: 10px;
                font-size: 2.0em;
            }
        }
    }
    .openmenu{
        width: 500px !important;
        transform: translateX(0px) !important;
    }
    .heading{
        background: $primary-color;
        background: -webkit-linear-gradient(left, $primary-color, $secondary-color);
        background: -o-linear-gradient(left, $primary-color, $secondary-color);
        background: linear-gradient(to right, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
        text-transform: uppercase;
        margin: 40px 0;
        font-size: 3.0em;
        color: white;
        font-weight: 800;
        display: inline-block;
    }
    #home{
        flex-direction: column;
        display: flex;
        .banner {
          position: absolute;
          overflow: hidden;
          width: 100%;
          height: 100%;
        }

        .banner__video {
          position: absolute;
          top: 50%;
          left: 50%;
          width: auto;
          min-width: 100%;
          height: auto;
          min-height: 100%;
          transform: translateX(-50%) translateY(-50%);
          z-index: -1;
          opacity: 0.7;
        }
        #logo{
            width: 450px;
            height: 300px;
            align-self: center;
            z-index: 1;
            // overflow-x: hidden;
        }
        #title{
            align-self: center;
            text-transform: uppercase;
            margin-top: 40px;
            color: $primary-color;
            z-index: 1;

            h1{
                text-align: center;
                font-size: 3em;
            }
            h3{
                text-align: center;
                font-size: 2em;
            }
        }
        .row .col{
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 100%;
        }
        .flipButton{
            cursor: pointer;
            align-self: center;
            margin: 30px;
            width: 200px;
            height: 60px;
            text-align: center;
            transform-style: preserve-3d;
            perspective: 1000px;
            transform-origin: center center;

            span{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                text-align: center;
                line-height: 60px;
                font-size: 24px;
                border-radius: 40px;
                background-color: rgba(255, 255, 255, .05);
                // text-transform: uppercase;
                color: white;
                transition: 1s;

                &.front{
                    transform: rotateX(0deg) translateZ(20px);
                    backface-visibility: hidden;
                }
                &.back{
                    transform: rotateX(180deg) translateZ(20px);
                    backface-visibility: hidden;

                }
                &.center{
                    background-color: $primary-color;
                }
            }

            &:hover span.front{
                transform: rotateX(-180deg) translateZ(20px);
            }
            &:hover span.back{
                transform: rotateX(0deg) translateZ(20px);
            }
            &:hover span.center{
                backface-visibility: visible;
                transform: rotateX(-180deg);
            }
        }
    }
    #aboutUs{
        position: relative;
        background: #fff;
        padding-bottom: 30px;
        .container{
            .display{
                display: none;
            }
            p{
                color: #000;
            }
            img{
                margin: 40px 0 !important;
            }
        }
    }
    #events{
        .btn{
            margin: 40px 0;
            background-color: $primary-color;
            border: none;
            border-radius: 30px;
            color: white;
            width: 150px;
            height: 60px;
            line-height: 45px;
        }
    }
    #glory{
        background: #000;
    }
    #team{
        background: #fff;
        margin-top: 40px;
        min-height: 400px;
        .slide{
            display: flex;
            justify-content: center;
            align-items: stretch;
            max-height: 400px;
        }
        .owl-carousel{
            align-items: center;
        }
        .our-team{
            text-align: center;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            transition: all 0.3s ease 0s;

            .pic{
                background: $secondary-color;
                transition: all 0.3s ease 0s;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &:hover{
                .pic{
                    // padding: 10px;
                    // border-radius: 10px;
                    transform: scale(0.8) translateY(-10%);
                }
                .team-content{
                    opacity: 1;
                    bottom: -10px;
                }
            }
            .team-content{
                width: 100%;
                padding: 7px 15px;
                background: rgba(#000000, 0.7);
                position: absolute;
                bottom: -30%;
                right: 0;
                opacity: 0;
                transition: all 0.3s ease 0s;
            }
            .title{
                font-size: 22px;
                color: #fff;
                text-transform: capitalize;
                letter-spacing: 1px;
                margin: 0 0 5px 0;
            }
            .post{
                display: block;
                font-size: 15px;
                font-weight: 600;
                color: #fff;
                font-style: italic;
                text-transform: capitalize;
                margin: 0 0 5px 0;
            }
            .social{
                padding: 0;
                margin: 0;
                list-style: none;
                transition: all 0.35s ease 0s;
                li{
                    display: inline-block;
                    margin: 0 5px 0 0;
                    a{
                        display: block;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        border-radius: 15px 0 15px 0;
                        font-size: 20px;
                        color: #fff;
                        overflow: hidden;
                        z-index: 1;
                        position: relative;
                        transition: all 0.35s ease 0s;
                        &:hover{
                            color: $primary-color;
                        }
                        // &:hover{
                        //     &:before{
                        //         left: 0;
                        //     }
                        // }
                        // &:before{
                        //     content: "";
                        //     width: 100%;
                        //     height: 100%;
                        //     background: #00c6ff;
                        //     position: absolute;
                        //     top: 0;
                        //     left: -100%;
                        //     z-index: -1;
                        //     transition: all 0.3s ease-in-out 0s;
                        // }
                    }
                }
            }
        }
    }
    #contacts{
        background-color: #000;
        color: white;
        footer{
            div[class*='col']{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
            }
            padding: 40px 0;
            width: 100%;
            .btn{
                margin: 20px 0;
                background-color: $primary-color;
                border: none;
                border-radius: 30px;
                color: white;
                width: 150px;
                height: 60px;
                line-height: 45px;
            }
            .socialTray{
                margin-top: 20px;
                a{
                    color: white;
                    display: inline-block;
                    font-size: 40px;
                    padding: 0 10px;
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
@media(max-width:$tab-width){
    .our-team{
        .pic{
        //     padding: 10px;
        //     border-radius: 10px;
            transform: scale(0.8) translateY(-10%);
        }
        .team-content{
            opacity: 1 !important;
            bottom: -10px !important;
        }
    }
}
