body{

    #title{
        align-self: center;
        text-transform: uppercase;
        margin-top: 40px;

        h1{
            text-align: center;
            font-size: 3em;
        }
        h3{
            text-align: center;
            font-size: 2em;
        }
    }

    #logo{
        height: 400px;
        width: 640px;
        align-self: center;
    }

    #regBtn{
        cursor: pointer;
        align-self: center;
        margin: 30px;
        background-color: rgb(13, 86, 164);
        color: white;
        border: 5px solid black;
        padding: 10px 30px;
        font-size: 1.5em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
    }

}
