*{
    box-sizing: border-box;
}
body{
    // background: linear-gradient(to right, #74ebd5, #acb6e5);
    // background: linear-gradient(to right, rgba(#74ebd5, 0.6), rgba(#acb6e5, 0.6));
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;

    nav{
        // background-color: rgba(26, 183, 210, 1);
        background-color: rgba(50, 50, 50, 0.8);
        height: 100px;
        width: calc(100vw - 17px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 7px solid rgb(234, 242, 234);
        padding: 10px 0;

        a{
            cursor: pointer;
            background-color: inherit;
            margin: 5px 30px;
            padding: 5px 10px;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            font-size: 1.2em;

            &:hover{
                border-bottom: 3px solid white;
                text-decoration: none;
                color: white;
            }
        }
    }


}
